    
body {
    background-image: url("KeXk6P.jpg");  
    font-family: "Times New Roman", Times, serif;
}


h1 {
    background-color: 0;
    font-family: "Times New Roman", Times, serif; 
    text-align:center; 
    
    color:white; 
    font-size: 80px;
    line-height: 140%; 
    animation: moveh1 5s;
    animation-fill-mode: forwards;

}

@keyframes moveh1 {
  from {margin-top: 0px;}
  to {margin-top: 200px;}
   0%   {background-color:#F781BE; left:0px; top:0px;}
  25%  {background-color:#FE2E64; left:200px; top:0px;}
  50%  {background-color:#FF00FF; left:200px; top:200px;}
  75%  {background-color:#A901DB; left:0px; top:200px;}
  10% {background-color:#8258FA; left:0px; top:0px;}
}


b    {
    color:white;
}

	
nav  { height: 200%; width: 160px; float:central; text-align: center;}

nav a {
    display: block;
    padding: 0.8em;
    text-decoration: none; 
    font-weight: bold;
    border: 0.5px solid palevioletred;
    border-radius: 30px;
    box-shadow: 0 0px 0px white inset;
    color:white; 
    background-color: #2C3E50; 
    transition: all .25s ease-in;	  
  }

nav li[aria-current] a {
  background-color: firebrick; 
  color:white;
}
  
  nav a:focus,
  nav a:hover,
  nav li[aria-current] a:focus,
  nav li[aria-current] a:hover {    
    color: goldenrod; 
    background-color: #DE3163;
  }
video  {padding-left: 30%;}

  img {padding-left: 30%;}
  
  a  {color:white;}

  .ivan {color:green;}

  iframe {padding-left: 30%}

 .parent {
   background-color: blueviolet;
   
   margin: 20px;
   border: 30px solid blue;
   max-width: 200px;
 }

 ol li::marker {
  color:white;
  font-size: 1.2em;
}
li {color: white;}
 